{% extends 'ticketapp/base.html' %}

{% block content %}

<div class="container bg-light mt-4 p-2">
    <h1>Ticket Stats</h1>
</div>


{% if user.is_staff %}

    <div class="container d-flex justify-content-between mt-4">

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Urgent</h5>
                <h6 class="card-subtitle mb-2 text-muted">Total Count: {{urgent_count}}</h6>
            </div>
            <div class="card-footer">
                <a href="{% url 'ticketapp:urgent-tickets' %}" class="btn btn-primary">View</a>
            </div>
        </div>


        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Resolved</h5>
                <h6 class="card-subtitle mb-2 text-muted">Total Count: {{resolved_count}}</h6>
            </div>
            <div class="card-footer">
                <a href="{% url 'ticketapp:resolved-tickets' %}" class="btn btn-primary">View</a>
            </div>
        </div>


        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Unresolved Tickets</h5>
                <h6 class="card-subtitle mb-2 text-muted">Total Count: {{unresolved_count}}</h6>
            </div>
            <div class="card-footer">
                <a href="{% url 'ticketapp:unresolved-tickets' %}" class="btn btn-primary">View</a>
            </div>
        </div>

    </div>

{% endif %}



<div class="container bg-light d-flex justify-content-between mt-4 p-2">
    <h3>Recently Added Tickets</h3>
    
    <form action="{% if user.is_staff %} {% url 'ticketapp:search-results' %} {% else %} {% url 'ticketapp:search' %} {% endif %}" method="get" class="d-flex ml-auto">
        <input type="text" class="form-control mr-2" placeholder="Search..." name='q'>
        <input type="submit" value="Search" class="btn btn-secondary">
    </form>
</div>



<div class="container mt-2 p-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Customer</th>
                <th scope="col">Customer Email</th>
                <th scope="col">Urgent</th>
                <th scope="col">Resolved</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>

            {% if user.is_staff %}
            
                {% for ticket in staff_user_list %}
                    <tr>
                        <td>{{ ticket.title }}</td>
                        <td>{{ ticket.customer_full_name }}</td>
                        <td>{{ ticket.customer_email }}</td>
                        <td>{{ ticket.urgent_status }}</td>
                        <td class="{% if ticket.completed_status %} text-success {% else %}text-danger{% endif %}">{{ ticket.completed_status }}</td>
                        <td>
                            <a href="{% url 'ticketapp:ticket-detail' pk=ticket.pk %}" class="btn btn-info">
                                View
                            </a>
                        </td>
                    </tr>
                {% empty %}
                    No records added
                {% endfor %}

            {% else %}

                {% for ticket in normal_user_list %}
                <tr>
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.customer_full_name }}</td>
                    <td>{{ ticket.customer_email }}</td>
                    <td>{{ ticket.urgent_status }}</td>
                    <td>{{ ticket.completed_status }}</td>
                    <td>
                        <a href="{% url 'ticketapp:ticket-detail' pk=ticket.pk %}" class="btn btn-info">
                            View
                        </a>
                    </td>
                </tr>
                {% empty %}
                    No records added
                {% endfor %}

            
            {% endif %}

        </tbody>
    </table>
</div>

{% endblock content %}