{% extends 'ticketapp/base.html' %}


{% block content %}


<div class="container bg-light mt-2 align-content-center pt-2 pb-2">
    <h1>Urgent Tickets</h1>
</div>

<div class="container d-flex mt-4 justify-content-between g-2">
    <a href="{% url 'ticketapp:create-ticket' %}" class="btn btn-outline-primary">Create a new record</a>

    <form action="" method="get" class="d-flex ml-auto">
        <input type="text" class="form-control mr-2" placeholder="Search...">
        <input type="submit" value="Search" class="btn btn-secondary">
    </form>
</div>



<div class="container mt-2 p-2">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Customer</th>
                <th scope="col">Customer Email</th>
                <th scope="col">Urgent</th>
                <th scope="col">Resolved</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.title }}</td>
                <td>{{ ticket.customer_full_name }}</td>
                <td>{{ ticket.customer_email }}</td>
                <td>{{ ticket.urgent_status }}</td>
                <td>{{ ticket.completed_status }}</td>
                <td>
                    <a href="{% url 'ticketapp:ticket-detail' pk=ticket.pk %}" class="btn btn-info">
                        View
                    </a>
                </td>
            </tr>
            {% empty %}
            No records added
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}