{% extends 'ticketapp/base.html' %}


{% block content %}

<div class="container mt-2">
    <h1>User Statistics: {{myuser.first_name}} {{myuser.last_name}}</h1>
    <div class="row" style="height: 300px;">
        <div class="col">
            <canvas id="myChart"></canvas>
        </div>

        <div class="col">

        </div>
    </div>

    <div>
        <h2 class="bg-light pt-2 pb-2 mt-4">Unresolved Tickets</h2>
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">Ticket ID</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Customer Email</th>
                    <th scope="col">Customer Phone Number</th>
                    <th scope="col">Urgent</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>

                {% for value in unresolved_tickets %}
                <tr class="text-center">
                    <td>{{value.ticket_id}}</td>
                    <td>{{value.customer_full_name}}</td>
                    <td>{{value.customer_email}}</td>
                    <td>{{value.customer_phone_number}}</td>
                    <td>{{value.urgent_status}}</td>
                    <td>
                        <a href="{% url 'ticketapp:ticket-detail' pk=value.pk %}" class="btn btn-info">
                            View
                        </a>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

    <div>
        <h2 class="bg-light pt-2 pb-2 mt-4">
            Resolved Tickets
        </h2>
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">Ticket ID</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Customer Email</th>
                    <th scope="col">Customer Phone Number</th>
                    <th scope="col">Urgent</th>
                    <th scope="col"></th>
                </tr>
            </thead>

            <tbody>

                {% for value in resolved_tickets %}
                <tr class="text-center">
                    <td>{{value.ticket_id}}</td>
                    <td>{{value.customer_full_name}}</td>
                    <td>{{value.customer_email}}</td>
                    <td>{{value.customer_phone_number}}</td>
                    <td>{{value.urgent_status}}</td>
                    <td>
                        <a href="{% url 'ticketapp:ticket-detail' pk=value.pk %}" class="btn btn-info">
                            View
                        </a>
                    </td>
                </tr>
                {% empty %}
                No records added
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>



<!-- Basic analysis total tickets assigned, total solved -->

<!-- All tickets that have been assigned to the user not solved-->

<!-- All tickets resolved by the user -->

<!-- Script for pie chart -->

<script>

    const labels = [
        'Resolved Tickets',
        'Unresolved Tickets',
    ];

    new Chart("myChart", {
        type: "doughnut",
        data: {
            labels: labels,
            datasets: [{
                label: 'My First dataset',
                data: [`{{resolved_count | safe}}`, `{{unresolved_count | safe}}`],
                backgroundColor: [
                    '#1e7145',
                    'rgb(255, 99, 132)',
                ],
                hoverOffset: 4
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: "Ticket Statistics"
            }
        }
    });
</script>


{% endblock content %}