{% extends 'ticketapp/base.html' %}


{% block content %}

    <div class="container bg-light mt-2 align-content-center pt-2 pb-2">
        <h1>User Statistics</h1>
    </div>

    <div class="container d-flex justify-content-end mt-4 p-2">
        <form action="{% if user.is_staff %} {% url 'ticketapp:search-results' %} {% else %} {% url 'ticketapp:search' %} {% endif %}" method="get" class="d-flex ml-auto">
            <input type="text" class="form-control mr-2" placeholder="Search user" name='q'>
            <input type="submit" value="Search" class="btn btn-secondary">
        </form>
    </div>


    <div class="container  mt-2 p-2">

        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th scope="col">Username</th>
                    <th scope="col">Tickets Assigned To User</th>
                    <th scope="col">Resolved Tickets</th>
                    <th scope="col"></th>
                </tr>
            </thead>
    
            <tbody>
    
                {% if user.is_superuser %}
                
                    {% for value in object_list %}
                        <tr class="text-center">
                            <td>{{value.assigned_to__username}}</td>
                            <td>{{value.total_count}}</td>
                            <td>{{value.resolved_count}}</td>
                            <td>
                                <a href="{% url 'ticketapp:user-performance-detail' username=value.assigned_to__username%}" class="btn btn-info">
                                    View Details
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        No records added
                    {% endfor %}
    
                
                {% endif %}
    
            </tbody>
        </table>
    </div>

    

{% endblock content %}